<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato!</h2>
                <hr class="primary">
                <p>Pronto para contratar o DJ para à próxima festa? Isso é ótimo! Entre em contato comigo através de algumas redes sociais ou por e-mail.</p>
            </div>
    <div class="social_word col-lg-offset-2">
        <div class=" social col-lg-2 col-lg-offset-1 text-center" >
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" ></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class=" social col-lg-2 col-lg-offset-1 text-center" >
            <a href="https://soundcloud.com/djrazzeky">
            <i class="fa fa-soundcloud fa-3x wow bounceIn" aria-hidden="true" data-wow-delay=".1s"></i>
                <p>djrazzeky</p>
            </a>
        </div>
        <div class=" social col-lg-2 col-lg-offset-1 text-center" >
            <a href="https://facebook.com/djrazzeky">
            <i class="fa fa-facebook-official fa-3x wow bounceIn" aria-hidden="true data-wow-delay=".1s""></i>
            <p>djrazzeky</p>
        </a>
    </div>
    <div class=" social col-lg-2 col-lg-offset-1 text-center" >
            <a href="https://twitter.com/dj_razzeky">
            <i class="fa fa-twitter fa-3x wow bounceIn" aria-hidden="true data-wow-delay=".1s""></i>
            <p>dj_razzeky</p>
        </a>
    </div>
      <div class=" social col-lg-2 col-lg-offset-1 text-center" >
            <a href="https://instagram.com/djrazzeky">
            <i class="fa fa-instagram fa-3x wow bounceIn" aria-hidden="true data-wow-delay=".1s""></i>
            <p>djrazzeky</p> 
        </a>
    </div>
</div>
</section>

<style type="text/css">
    .social_word {display: inline-block;}
    .social{width: 12em;}
    .social div {padding-left: 7em;}
    #contact p {font-size: 12px;}


@media (min-width: 300px) and (max-width: 600px)  {
 .social_word {padding-left: 5em;}
}


</style>

<!--

Aqui você pode mudar os links da suas redes sociais
caso necessáio

basta localizar o link da rede social e substituir

sempre mantendo as aspas

-->