  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Faça Download de graça!</h2>
              <a href="https://soundcloud.com/djrazzeky" class="btn btn-default btn-xl wow tada">Download</a>
          </div>
      </div>
  </aside>

<!-- 
Aqui você vai configurar o link para donwload da sua música

procure por href="https://soundcloud.com/djrazzeky"

e dentro das aspas coloque o seu link


href="seulinkaqui" lembre de sempre manter as aspas é importante.

-->