<header>
    <div class="header-content">
        <div class="header-content-inner">
            <a href="#" class="portfolio-box reazzeky_img"><img src="/img/cesar_X6.png" class="img-responsive" alt=""></a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll sobre_razzeky">Sobre Razzeky</a>
        </div>
    </div>
</header>

<style>
.reazzeky_img{
    padding-left: 4em;
}
@media (min-width: 300px) and (max-width: 600px)  {
 .reazzeky_img{
    padding-left: 0em;
}
}
.sobre_razzeky{margin-top: 2em;}
</style>
