<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Músicas</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/49014496&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>
</section>
<style type="text/css">
#services {background-image: url('../img/stressed_linen.png') !important;color:white !important;}
</style>

<!--  Aqui você pode colocar a suas musicas do soundclound

é necessário pegar o código HTML direto do site do sondclound

e colocar dentro de <div class="container"> </div>

-->