<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid" style="display: table;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="width: 24em;">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Sobre</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Musicas</a>
                </li>
                <li>
                    <a class="page-scroll" href="#social">Social</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contatos</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<style type="text/css">
@media (min-width: 300px) and (max-width: 600px)  {
    .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {color:white !important;}
    .navbar-toggle{float: left;}
    .navbar-header {padding-right: 21em;margin-left: 0.1em !important;}
</style>

<!--

Nav é  menu superior

não é necessário nenhuma alteração aqui

só se você quiser acrescentar algo à mais no menu à cima.

-->