<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">RAZZEKY</h2>
                <hr class="light">
                <p class="text-faded">
Bem-vindo á página oficial do Dj Razzeky

Cesar Razzeky mais conhecido como Razzeky começou com seu projeto no final de 2014 Com a força e determinação que transcende gêneros , a experiência adquirida em festas vem se destacando com boas apresentações e muito carisma por onde passa.

<hr>
Cesar Razzeky better known as Razzeky began with his project in late 2014 With the strength and determination that transcends genres, the experience gained at parties has been highlighted with good performances and a lot of charisma wherever it goes.
                <p class="text-faded">(Contrate agora)</p>
                <a href="#" class="btn btn-default btn-xl">Volte para cima!</a>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
.bg-primary {background-image: url('../img/stressed_linen.png') !important;}
</style>

<!--

Aqui você pode configurar o seu sobre

para você editar basta colocar o texto de sua preferencia

dentro de <p class="text-faded"> AQUI O SEU TEXTO </p>

Caso queria mudar o texto do botão 
<a href="#" class="btn btn-default btn-xl">Volte para cima!</a>

é só substituir o texto

<a href="#" class="btn btn-default btn-xl"> SEU TESTO AQUI</a>

-->