<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Dj Razzeky</h2>
                <hr class="light">
                <p class="text-faded">Dj , remixer com um ano no ramo da música eletrônica Razzeky vem se destacando com uma mistura de som que vai do g-house ao deep house conquistando vários públicos por onde passa.</p>
                <p class="text-faded">(Contrate agora)</p>
                <a href="#" class="btn btn-default btn-xl">Volte para cima!</a>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
.bg-primary {background-image: url('../img/stressed_linen.png') !important;}
</style>

<!--

Aqui você pode configurar o seu sobre

para você editar basta colocar o texto de sua preferencia

dentro de <p class="text-faded"> AQUI O SEU TEXTO </p>

Caso queria mudar o texto do botão 
<a href="#" class="btn btn-default btn-xl">Volte para cima!</a>

é só substituir o texto

<a href="#" class="btn btn-default btn-xl"> SEU TESTO AQUI</a>

-->