<section id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Redes Sociais</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container" style="width: 400px !important">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
    </div>
</section>
<style type="text/css">
#social {background-image: url('../img/stressed_linen.png') !important;color:white !important;}
</style>

