<section id="social">
    <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Redes Sociais</h2>
                <hr class="primary">
            </div>
        </div>
            <div class="globa-social">
        <li class="social-facebook" >
                <div class="fb-page" style="width: 300px !important" data-href="https://www.facebook.com/djrazzeky" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/djrazzeky" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/djrazzeky">djrazzeky</a></blockquote></div>
        </li> 

        <li class="social-twitter">
            
            <a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/Dj_razzeky">Tweets by Dj_razzeky</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        </li>
    </div>
    </div>
</section>
<style type="text/css">
#social {background-image: url('../img/stressed_linen.png') !important;color:white !important;}
.social-twitter{width: 310px;}
.social-facebook{width: 292px;}
section#social li {display: inline-block;margin: 1em;}
.globa-social {margin: 0 auto;display: table;}
@media (min-width: 300px) and (max-width: 600px)  {
.globa-social {width: none;margin: 0 auto;}
}
</style>

